#main{
    height:50px;
    border:2px solid;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}
#main div{
    color: whitesmoke;
}
#one{
    color: orange;
}
#two{
    width :500px ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#three button{
    background-color: orange;
    height: 25px;

}