body{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 

 } 

#parent{
    margin: 5px;
    border: 2px solid;
    height:400px;
    width:220px;
    background-color: brown;
    position: relative;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
#parent h2{
    display: flex;
    justify-content:center;
    margin: 35px;
}
#parent p{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
#parent button{
    position: relative;
    display: flex;
    justify-content: center;
    height: 35px;
    width:220px ;
    border-radius: 11px;
}
#child img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position:absolute;
    top:100px;
    left:65px;
}
#child2 img{
    height:150px;
    width:220px;
    border-radius: 5%;
    position: relative; 
}

