body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#main{
    height:280px;
    width: 1000px;
    background-color: deepskyblue;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
p{
    font-size: 1.3rem;
    margin-bottom: 20px;
}
button{
    color: snow;
    background-color: orange;
    height: 40px;
    width:120px;
    border-radius: 5px;
    /* margin-bottom: 20px; */
}
#one{
    color: snow;
}